block append content
    script.
        var startDate = !{JSON.stringify(date_from)};
        var endDate = !{JSON.stringify(date_to)};
        var selectedResolution = !{JSON.stringify(resolution)};
        var consumptionData = !{JSON.stringify(consumption_data)};